#pc-wrap {
  .home-page {
    position: relative;
    width: 100%;
    height: auto;

    /* POPULAR WATCHES */
    .popular-watches-section {
      padding: 120px 0;
      text-align: center;
      background: #ffffff;

      .section-title {
        font-size: 42px;
        font-weight: 700;
        color: #0a0a0a;
        margin-bottom: 50px;
        text-transform: uppercase;
      }
    }

    .popular-watches-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      padding: 0 100px;

      .empty-text {
        color: #0c0c0c;
        font-size: 30px;
      }
    }

    .popular-watch-card {
      width: 100%;
      max-width: 330px;
      padding: 28px;
      border-radius: 18px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      transition: all 0.35s ease;

      &:hover {
        background: #e2e0e0;
        transform: translateY(-6px);
        box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
      }

      .image-box {
        position: relative;
        width: 100%;
        height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 88%;
          height: auto;
          object-fit: contain;
          filter: drop-shadow(0px 12px 22px rgba(97, 97, 97, 0.55));
          transition: 0.3s ease;
        }

        /* ACTION BUTTONS ON HOVER */
        .watch-actions {
          position: absolute;
          top: 30%;
          right: -20px;
          transform: translateY(-50%) translateX(20px);
          display: flex;
          flex-direction: column;
          gap: 14px;
          opacity: 0;
          pointer-events: none;
          transition: all 0.35s ease;
          z-index: 10;
        }
      }

      &:hover .image-box .watch-actions {
        opacity: 1;
        pointer-events: all;
        transform: translateY(-50%) translateX(0);
      }

      .action-btn {
        width: 48px;
        height: 48px;
        background: #eae8e8;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.25s ease;
        position: relative;

        &:hover {
          background: #6B5A51;
        }

        svg {
          width: 28px;
          height: 28px;
          color: #000000;
          transition: color 0.55s ease;
          filter: contrast(0.9);
          
          path {
            fill-opacity: 0.8;
            stroke-width: 3;
          }
        }

        &:hover svg {
          color: #E5C8A3;
          
          path {
            fill-opacity: 1;
          }
        }

        &.action-btn-with-count {
          .action-count {
            position: absolute;
            top: -8px;
            right: -8px;
            background: #f3b748;
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            padding: 2px 6px;
            border-radius: 10px;
            min-width: 18px;
            text-align: center;
            line-height: 1.4;
            box-shadow: 0 2px 6px rgba(243, 151, 46, 0.4);
          }
        }
      }

      .text-box {
        margin-top: 20px;
        width: 100%;
        text-align: left;

        .brand {
          font-size: 20px;
          font-weight: 600;
          color: #0a0a0a;
        }

        .model {
          margin-top: 4px;
          font-size: 22px;
          font-weight: 700;
          color: #C9A86A;
        }
      }
    }

    /* RESPONSIVE */
    @media (max-width: 1024px) {
      .popular-watches-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 600px) {
      .popular-watches-grid {
        grid-template-columns: 1fr;
      }
    }

    /* LIMITED SPOTLIGHT */
    .limited-spotlight-section {
  padding: 150px 0;
  text-align: center;
  background: radial-gradient(circle at top left, #191e29 0%, #05060a 45%, #050816 100%);

  .section-title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 44px;
    font-weight: 700;
    color: #f1ab13;
    margin-bottom: 80px;
    text-transform: uppercase;
  }

  .empty-label {
    font-size: 30px;
    color: #000;
  }
}

.spotlight-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
  width: 1400px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0 20px;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.spotlight-card {
  background: linear-gradient(145deg, #ffffff, #ffffff);
  padding: 28px;
  
  border: 1px solid rgba(229, 194, 140, 0.18);
  box-shadow: 0px 25px 60px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  position: relative;
  transition: 0.35s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0px 35px 85px rgba(229, 194, 140, 0.28);
  }

  .image-box {
    width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* --- HOVER RASM ALMASHISH --- */
    .main-img,
    .hover-img {
      position: absolute;
      width: 90%;
      object-fit: contain;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.95s ease, transform 0.95s ease;
      filter: drop-shadow(0px 18px 32px rgba(255, 255, 255, 0.7));
    }

    .main-img {
      opacity: 1;
      z-index: 2;
    }

    .hover-img {
      opacity: 0;
      z-index: 3;
      transform: translate(-50%, -50%) scale(1.04);
    }
  }

  &:hover {
    .main-img {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.96);
    }
    .hover-img {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.06);
    }
  }

  .rarity-tag {
    position: absolute;
    top: 18px;
    left: 18px;
    padding: 6px 14px;
    color: #e5c28c;
    border-radius: 999px;
    background: rgba(229, 194, 140, 0.15);
    border: 1px solid #e5c28c;
  }

  .info {
    margin-top: 40px;
    text-align: center;

    .title {
      font-size: 16px;
      letter-spacing: 2px;
      color: #373535;
    }

    .model {
      font-size: 22px;
      color: #31477f;
      font-weight: 700;
    }

    .price {
      font-size: 19px;
      margin-top: 10px;
      color: #9c1b1b;
    }
  }
}

   /* TOP BRANDS SECTION */
.top-brands-section {
  padding: 80px 0;
  text-align: center;
  background: linear-gradient(165deg, #ffffff, #fcf5f5);

  .section-title {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}


.top-brands-wrapper {
  width: 1400px;
  margin: 0 auto;
  padding: 40px 50px;
  border-radius: 24px;

  border: none;  
}


.top-brands-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  width: 100%;
  justify-items: center;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}


.brand-card {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center;

  &:hover {
    transform: translateY(-6px);
  }

  .logo-box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 65%;
      object-fit: contain;
      filter: none;
      transition: transform 0.3s ease;

      .brand-card:hover & {
        transform: scale(1.1);
      }
    }
  }

  .brand-info {
    margin-top: 10px;

    .brand-country {
      font-size: 20px;
      color: #000000;
    }

    .brand-founded {
      margin-top: 6px;
      font-size: 16px;
      color: #9f6418;
    }
  }
}

.top-dealers-section {
 
  background-color: rgb(241, 241, 241);
  width: 100%;
  text-align: center;

  .section-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  /* ROW (left + right) */
  .top-dealers-row {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
  }

  /* LEFT BOX */
  .dealer-box-left {
    width: 50%;
    height: 530px;
    padding: 22px;
    border-radius: 20px;
   
  }

  /* ——— GRID OF CIRCLE CARDS ——— */
  .dealer-left-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  /* CIRCLE CARD */
  .dealer-circle-card {
    
    width: 270px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

    .circle-photo {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      object-fit: cover;
     
    }

    .circle-name {
      font-size: 16px;
      font-weight: 700;
      margin-top: 10px;
    }

    .circle-city {
      font-size: 16px;
      color: #666;
      
      .city-icon {
  font-size: 18px;
  
  text-align: center;
  margin-right: 5px;
  color: rgb(233, 86, 86);
}
    }

    .circle-rating {
      font-weight: 600;
      color: #c9a86a;
      margin-top: 4px;
    }
  }

  /* RIGHT BOX */
/* RIGHT BOX */
.dealer-box-right {
  width: 50%;
  height: 500px;
  border-radius: 20px;

  /* 🔥 Qo‘shildi */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TOP DEALER CARD — faqat shu to‘g‘irlandi */
.top-dealer-card {
  /* 🔥 Qo‘shildi */
  width: 100%;
  height: 100%;
}



  /* LEFT */
  .dealer-card-left {
    width: 180px;
    height: 180px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;

    .dealer-card-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .dealer-card-badge {
      position: absolute;
      bottom: 10px;
      left: 10px;
      padding: 6px 12px;
      background: #cecdcd;
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      border-radius: 8px;
      text-transform: uppercase;
    }
  }

  /* RIGHT */
  .dealer-card-right {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    text-align: left;

    .dealer-card-name {
      font-size: 22px;
      font-weight: 700;
      color: #000;
    }

    .dealer-card-location {
      font-size: 15px;
      color: #444;
      display: flex;
      align-items: center;
      gap: 4px;

      .loc-icon {
        font-size: 18px;
        color: #c9a86a;
      }
    }

    .dealer-card-type {
      font-size: 15px;
      font-weight: 700;
      color: #ea8e16;
    }

    .dealer-card-brands,
    .dealer-card-rating,
    .dealer-card-inventory,
    .dealer-card-years {
      font-size: 15px;
      color: #333;
    }
  }
}

.top-dealers-section {
  background-color: rgb(241, 241, 241);
  width: 100%;
  padding: 60px 0;
  text-align: center;

  .section-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  /* ROW (left + right) */
  .top-dealers-row {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
  }

  /* LEFT BOX */
  .dealer-box-left {
    width: 50%;
    height: 530px;
    padding: 22px;
    border-radius: 20px;
  }

  /* ——— GRID OF CIRCLE CARDS ——— */
  .dealer-left-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  /* CIRCLE CARD */
  .dealer-circle-card {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .circle-photo {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      object-fit: cover;
    }

    .circle-name {
      font-size: 16px;
      font-weight: 700;
      margin-top: 10px;
    }

    .circle-city {
      font-size: 16px;
      color: #666;

      .city-icon {
        font-size: 18px;
        text-align: center;
        margin-right: 5px;
        color: rgb(233, 86, 86);
      }
    }

    .circle-rating {
      font-weight: 600;
      color: #c9a86a;
      margin-top: 4px;
    }
  }

  /* RIGHT BOX */
  .dealer-box-right {
    width: 50%;
    height: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-dealer-card {
    width: 100%;
    height: 100%;
  }

  .dealer-card-left {
    width: 180px;
    height: 180px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;

    .dealer-card-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .dealer-card-badge {
      position: absolute;
      bottom: 10px;
      left: 10px;
      padding: 6px 12px;
      background: #cecdcd;
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      border-radius: 8px;
      text-transform: uppercase;
    }
  }

  .dealer-card-right {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    text-align: left;

    .dealer-card-name {
      font-size: 22px;
      font-weight: 700;
      color: #000;
    }

    .dealer-card-location {
      font-size: 15px;
      color: #444;
      display: flex;
      align-items: center;
      gap: 4px;

      .loc-icon {
        font-size: 18px;
        color: #c9a86a;
      }
    }

    .dealer-card-type {
      font-size: 15px;
      font-weight: 700;
      color: #ea8e16;
    }

    .dealer-card-brands,
    .dealer-card-rating,
    .dealer-card-inventory,
    .dealer-card-years {
      font-size: 15px;
      color: #333;
    }
  }
}



.best-seller-section {
  position: relative;
  padding: 70px 0;
  text-align: center;

  .section-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .section-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    color: #777;
  }
}

/* SWIPER WIDTH */
.best-seller-swiper {
  width: 1400px;
  margin: 0 auto;
}

/* CARD */
.best-watch-card {
 position: relative;
 
  padding: 30px;
  cursor: pointer;

  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  transition: .35s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 50px rgba(212,178,119,0.35);
  }

  .image-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 85%;
      object-fit: contain;
      transition: .3s ease;
    }

    /* ACTION BUTTONS ON HOVER */
    .watch-actions {
      position: absolute;
      top: 40%;
      right: -20px;
      transform: translateY(-50%) translateX(20px);
      display: flex;
      flex-direction: column;
      gap: 14px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.35s ease;
      z-index: 10;
    }
  }

  &:hover img {
    transform: scale(1.06);
  }

  &:hover .image-box .watch-actions {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-50%) translateX(0);
  }

  .info {
    margin-top: 15px;

    .brand {
      font-size: 18px;
      font-weight: 600;
    }

    .model {
      font-size: 20px;
      font-weight: 700;
      color: #c9a86a;
    }

    .likes {
      color: #e04c4c;
      margin-top: 5px;
    }
  }

  .action-btn {
    width: 48px;
    height: 48px;
    background: #dddcdc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s ease;
    position: relative;

    &:hover {
      background: #6B5A51;
      
    }

    svg {
      width: 28px;
      height: 28px;
      color: #000000;
      transition: color 0.55s ease;
      filter: contrast(0.9);
      
      path {
        fill-opacity: 0.8;
        stroke-width: 3;
      }
    }

    &:hover svg {
      color: #E5C8A3;
      
      path {
        fill-opacity: 1;
      }
    }

    &.action-btn-with-count {
      .action-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background: #f3b748;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        padding: 2px 6px;
        border-radius: 10px;
        min-width: 18px;
        text-align: center;
        line-height: 1.4;
        box-shadow: 0 2px 6px rgba(243, 151, 46, 0.4);
      }
    }
  }


}

.scroll-btn {
  margin-top: 10px;
  background: #c9a86a;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
 transition: all 0.3s ease;
 box-shadow: 0 4px 15px rgba(216, 167, 94, 0.3);
  &:hover {
                background: #a0855a;
               
              }


  &:hover {
    background: #b97f0b;
  }
  &:active {
                transform: translateY(0);
              }
}

.bottom-controls {
  width: 1400px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-all-btn {
   margin-top: 20px;
              padding: 10px 20px;
              background: #c9a86a;
              color: #fff;
              font-size: 16px;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 1px;
              border-radius: 4px;
              font-family: $font;
              transition: all 0.3s ease;
              width: fit-content;
              box-shadow: 0 4px 15px rgba(216, 167, 94, 0.3);

              &:hover {
                background: #a0855a;
               
              }

  &:hover {
    background: #b97f0b;
  }
  &:active {
                transform: translateY(0);
              }
}

}}